name: Test & Lint

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        pip install 'poetry<1.2'
        poetry install
    - name: Test
      run: |
        poetry run pytest
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        pip install 'poetry<1.2'
        poetry install
    - name: Lint
      run: |
        poetry run pre-commit run --all-files
    - name: Check for changes
      # Check if there are any changes by linting
      run: '[[ "$(git status --porcelain=v1 2>/dev/null | wc -l)" -eq "0" ]] || echo Linting made modifications. Please run this locally and commit'
